body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background: #fafafa;
}

p {
  line-height: 1.4em;
}

.header {
  margin: 0;
  height: 8px;
  background-color: #529ecc;
}

.after p, a {
  margin-top: 45px;
  color: #529ecc;
  text-decoration: none;
}

.wrapper {
  margin: auto;
  width: 1070px;
}

.left {
  float: left;
  width: 570px;
}

.right {
  float: left;
  margin-left: 24px;
  width: 476px;
}

.intro-paragraph {
  font-size: 1.4em;
  line-height: 1.3em;
}

.clear {
  clear: both;
}
