body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

p {
  line-height: 1.4em;
}

.header {
  margin: 0;
  height: 4px;
  background: #444;
}

.wrapper {
  margin: auto;
  width: 960px;
}

.intro-paragraph {
  font-size: 1.4em;
  line-height: 1.3em;
}

.after p, a {
  margin-top: 45px;
  color: #0086b3;
  font-weight: bold;
  text-decoration: none;
}

.gamebox {
  float: left;
  width: 296px;
  margin: 6px;
  padding: 6px;
  height: 220px;
}

.clear {
  clear: both;
}
