body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

p {
    line-height: 1.4em;
}

a {
    color: #0086b3;
}

.header {
    margin: 0;
    height: 4px;
    background: #0086b3;
}

.wrapper {
    margin: auto;
    width: 960px;
}

.intro-paragraph {
    font-size: 1.4em;
    line-height: 1.3em;
}

.after p, a {
    margin-top: 45px;
    font-weight: bold;
    text-decoration: none;
}

.after a:hover {
    color: #333;
}

.projectbox {
    margin: 6px 0;
    padding: 6px 0;
    clear: both;
}

.projectbox img {
    float: left;
    margin-right: 12px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}