:root {
  --theme-color: #0086b3;
}
body {
  color: #7a7a7a;
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 36px auto;
  max-width: 1200px;
}
a {
  font-weight: 600;
  color: var(--theme-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 28px;
  margin-bottom: 28px;
}
.wrapper {
  margin: 12px 36px;
}
.title-container {
  margin-bottom: 40px;
}
.title {
  display: inline;
  border-bottom: 4px solid var(--theme-color);
}
.monospace {
  font-family: "Lucida Console", Monaco, monospace;
}
.links {
  margin-bottom: 24px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.project {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  color: var(--theme-color);
  cursor: pointer;
}
.text-center {
  text-align: center;
}