---
const allPosts = Object.values(import.meta.glob("../pages/posts/*.md", { eager: true })).sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));
---
<ul>
  {
    allPosts.map((post) => (
      <li>
        <a href={post.url}>
          {post.frontmatter.title}
        </a>
      </li>
    ))
  }
</ul>
